*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
  color : black;
  text-align: center;
}
body.Dark {
  background-color: black; 
}
.Darkbtn{
  background-color: #00b2ff;
}
.Darkbtn:hover{
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
}
body.Dark .Darkbtn:hover{
  box-shadow: 2px 4px 10px rgb(255, 255, 255);
}
#logo{
  height:4vw;
  width:19vw;
  background-image: url('./src/assets/Kalvium-Logo-SVG.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  width:90vw;
  display: flex;
  justify-content:space-between;
  position: absolute;
  top:0;
  margin: 4vw;
}
.questionBox{
  position: absolute; 
  top: 25vh;
  left: 15%;
  right: 10%;
  background-color: #00b2ff;
  border-radius: 2vw;
}
#question{
  color: white;
  font-size: 3vw;
  margin: 2vw;
}
.option{
  background-color: whitesmoke;
  margin: 2vh;
  margin-top: 4vh;
  border-radius: 1vw;
  width: auto;
  height: 5vh;
}
.option:hover{
  cursor: pointer;
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
}
.resultBox{
  position: absolute; 
  top: 28vh;
  left: 20%;
  right: 10%; 
  background-color: #00b2ff;
  border-radius: 2vw;
  color: white;
  width: 60vw;
}
.result{
  font-size: 6vw;
  margin-bottom: 2vw;
}
.Againbtn{
  background-color: white;
  color: black;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
.Againbtn:hover{
  border: 2px solid black;
}
.highlight{
  background-color: white;
  color: black;
  margin: 1vw;
}
@media all and (orientation: portrait){
  #question{
    font-size: 8vw;
  }
  .highlight{
    margin:4vw;
  }
  .questionBox{
    top: 18vh;
    left: 6%;
  }
  .option{
    font-size:3.5vw;
  }

}